<div class="section">
    <p class="explanation">
        When you enter a new preferred or non-preferred term, it is possible to specify the gender using the keyboard, without clicking on each gender.</p>
    <p class="explanation">
        To do so, you have to <span>append the term with "//", followed by the gender(s)</span> as specified below.
    </p>
    <p class="note">
        Please note that you can set multiple genders this way. For example, use "//sfmn" to set the term as standard female, male and neutral.
    </p>
    <table>
        <tr>
            <td class="input"><span>sm</span></td>
            <td>Sets the current term as the standard male, which is unique. The current term is also implied as being male.</td>
        </tr>
        <tr>
            <td class="input"><span>sf</span></td>
            <td>Sets the current term as the standard female, which is unique. The current term is also implied as being female.</td>
        </tr>
        <tr>
            <td class="input"><span>m</span></td>
            <td>Sets the current term as male.</td>
        </tr>
        <tr>
            <td class="input"><span>f</span></td>
            <td>Sets the current term as female.</td>
        </tr>
        <tr>
            <td class="input"><span>n</span></td>
            <td>Sets the current term as neutral.</td>
        </tr>
    </table>
</div><!-- /.section -->
