<div class="right tutorial">
    <h2>Welcome to the ETMS Platform</h2>

    <div class="section">
        <div class="icons">
            <i class="icon icon--angle-right"></i>
        </div>

        <h3>Select a Concept</h3>

        <p>To begin, browse through ESCO concepts in the hierarchy by clicking <i class="icon icon--angle-right blue"></i> to the left of each term. Use the search bar to find a specific concept, or click <i class="fa fa-sliders blue"></i> to show more filtering options. Switch between hierarchy types by clicking <i class="icon icon--menu blue"></i> to view skills or occupations. Select a concept to view it in more detail the right.</p>
    </div>

    <div class="section">
        <div class="icons">
            <i class="icon icon--angle-right"></i>
        </div>

        <h3>Edit a Concept</h3>

        <p>Concept details can be changed by clicking on the designated area, editing and clicking <i class="icon icon--check green"></i>. Linked hierarchies and concepts can be edited by clicking <i class="icon icon--plus green"></i>.</p>
        <p>Selected concepts can be deprecated by clicking <i class="icon icon--alert blue"></i> and deleted by clicking <i class="icon icon--trash blue"></i>. </p>
        <p>Terms can be edited by entering text into the field and clicking <i class="icon icon--check green"></i> to save changes or <i class="icon icon--cancel red"></i> to undo them. Click <i class="fa fa-minus red"></i> to delete an entire term.</p>
        <p>Click <i class='icon icon--plus green'></i> at the bottom of the hierarchy to create a new concept.</p>
        <p>Selected concepts’ statuses can also be changed by using the drop-down menu at the top right of the selected concept box. Options include ‘draft’ and ‘ready for publication’.</p>
    </div>

    <div class="section">
        <div class="icons">
            <i class="icon icon--comment"></i>
        </div>

        <h3>Review/Add Comments</h3>

        <p>Click <i class="icon icon--file blue"></i> to leave a note on a concept and <i class="icon icon--comment blue"></i> to add comments. The number of comments is indicated to the right of the bubble.</p>
    </div>
</div>
